<?php
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/footable.core.css" );
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/footable-demos.css" );
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/bootstrap-glyphicons.css" );
?>

<script src="/snep/includes/javascript/footable/footable.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.sort.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.filter.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.paginate.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/bootstrap-tab.js" type="text/javascript"></script>

<div class="row">
    <div class="tab-content">
        <div class="tab-pane active" id="demo">
            <div class="snep-body-top-buttons">
                <a class="btn btn-add" href="<?php echo $this->url ?>/add/ " role="button"><?php echo $this->translate("Add Trunk")?></a>

                <div class="snep-body-search">
                    <?php if($this->key){ ?>
                        <a class='sn-dash-add' href="<?php echo $this->baseUrl ?>/default/index/index?dashboard_add=<?php echo $this->key ?>" title="<?php echo $this->translate('Add to dashboard');?>">
                        </a>
                        &nbsp;|&nbsp;
                    <?php } ?>
                    <?php echo $this->translate("Search")?> <input id="filter" type="text"/>
                </div>
            </div>

            <?php if ($this->error_message) {
                echo $this->action( 'sneperror', 'error', null, array( 'error_type' => 'alert', 
                'error_title' => $this->translate('Alert'), 'error_message' => $this->error_message, 'error_buttons' => False) );
            } else { ?>

                <table class="table demo table-hover" data-filter="#filter" data-page-size="<?php echo $this->lineNumber?>">

                    <thead>
                        <tr>
                            <th class="text-center" data-type="numeric" data-sort-initial="true"><?php echo $this->translate('Code');?></th>
                            <th><?php echo $this->translate('Name');?></th>
                            <th class="text-center"><?php echo $this->translate('Type');?></th>
                            <th class="text-center"><?php echo $this->translate('Interface Type');?></th>
                            <th class="text-center"><?php echo $this->translate('Time Credit (h:m:s)');?></th>
                            <th class="text-center" colspan="2" data-sort-ignore="true"><?php echo $this->translate('Actions');?></th>
                        </tr>
                    </thead>
                    <tbody>

                        <?php
                        foreach($this->trunks as $id => $trunk ): ?>
                            <tr>
                                <td class="text-center"><?php echo $trunk['name'] ?> </td>
                                <td> <?php echo $trunk['callerid'] ?> </td>
                                <td class="text-center">
                                    <?php echo ( $trunk['trunktype'] == "T" ?  $this->translate("TDM") : $this->translate("IP") )  ?>
                                </td>
                                <td class="text-center"> <?php echo $trunk['technology'] ?> </td>
                                <td class="text-center">
                                    <?php if ($trunk['saldo']) : ?>
                                         <span style='color:#888'>
                                            <?php echo $trunk['saldo']  ?>
                                         </span>
                                    <?php else :  ?>
                                        <?php echo $this->translate('Not configured') ?>
                                    <?php endif ?>
                                </td>
                                <td align="center">
                                    <a class="btn btn-edit btn-sm"  href="<?php echo $this->url ."/edit/trunk/".  $trunk['id'] ?>" role="button"><?php echo $this->translate('Edit')?>
                                    </a>
                                    <a class="btn btn-danger btn-sm" href="<?php echo $this->url ."/remove/id/".  $trunk['id'] . "/name/" . $trunk['name'] ?>" role="button"><?php echo $this->translate('Delete')?></a>
                                </td>
                            </tr>
                        <?php endforeach ?>

                    </tbody>
                    <tfoot>
                        <tr>

                            <td colspan="8">
                                <div class="paging">
                                    <ul class="pagination"></ul>
                                </div>
                            </td>

                        </tr>
                    </tfoot>
                </table>
            <?php } ?>
            <br>
        </div> <!-- demo -->
    </div> <!-- tab-content -->
</div> <!-- /.row -->

<script type="text/javascript">
    jQuery.noConflict();
    jQuery(function () {
        jQuery('table').footable().on('click', '.row', function(e) {
            e.preventDefault();
        });
    });
</script>


